.footer{
    width: 100%;
    .footerContainer{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 5%;
        box-sizing: border-box;
        .leftContent{
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                padding: 5%;
                box-sizing: border-box;
                width: 60%;
            }

            p{
                color: white;
                font-size: calc(15px + 8 * (100vw / 1920));
                text-align: start;
                width: 50%;

                span{
                    color: #828282;
                    font-size: calc(8px + 7 * ( 100vw / 1920));
                }
            }

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 1%;
                p{
                    font-size: calc(15px + 5 * (100vw / 1920));
                }

                img{
                    padding: 0;
                    width: 2%;
                }
            }
        }

        .rightContent{
            width: 55%;
            display: flex;
            justify-content: space-between;
            color: white;

            .contacts{
                width: 50%;
                display: flex;
                flex-direction: column;

                gap: 5%;
                h1{
                    font-size: calc(20px + 15 * (100vw / 1920));
                }
                div{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: white;
                        width: 80%;
                        margin: 0 0 0 0;
                        img{
                            width: 20%;
                        }  

                        p{
                            text-align: start;
                            font-size: calc(18px + 5 * (100vw / 1920));
                        }
                    }

                    a:first-child{
                        width: 20%;
                        img{
                            width: 50%;
                        }
                    }


                }
            }

            .payment{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: 10%;
                img{
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (max-width:1440px) {
    .footer{
        .footerContainer{
            .leftContent{
                p{
                    font-size: calc(15px + (8 + 7 * .7) * ((100vw - 430px) / 1920));
                    span{
                        font-size: calc(8px + (7 + 7 * .7) * ( (100vw - 430px) / 1920));
                    }
                }

                div{
                    p{
                        font-size: calc(15px + (5 + 5 * .7) * ((100vw - 430px) / 1920));
                    }
                }
            }

            .rightContent{
                .contacts{
                    h1{
                        font-size: calc(20px + (15 + 15 * .7) * ((100vw - 430px) / 1920));
                    }
                    div{
                        a{
                            p{
                                font-size: calc(18px + (5 + 5 * .7) * ((100vw - 430px) / 1920));
                            }
                        }
                    }
                }
            }
        }
    }
}