.services{
    width: 100%;
    height: 100%;
    margin-top: 5%;

    .componentTitle{
        img{
            width: 3%;
        }
        p{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            color: #1E1E1E;
            font-size: calc(10px + 25 * (100vw / 1920));
        }

        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            h1{
                color: white;
                font-size: calc(30px + 25 * (100vw / 1920));
            }
            img{
                position: relative;
                top: 0;
                bottom: 0;
                width: 1.4%;

            }            
        }
    }

    .servicesContainer{
        width: 100%;
        height: 100%;
        margin-top: 5%;
        .serviceList{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
            .serviceItem{
                width: 25%;
                height: 100%;
                background-image: url(../../assets/img/services_bg.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                backdrop-filter: blur(50px);
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 5%;
                z-index: 999;
                img{
                    width: 35%;
                }

                h1{
                    margin-top: 25%;
                    width: 110%;
                    color: white;
                    font-size: calc(15px + 10 * (100vw / 1920));
                }

                p{
                    margin-top: 25%;
                    width: 100%;
                    color: #787878;
                    font-size: calc(8px + 7 * (100vw / 1920));
                }
            }

            #activeServiceItem{
                width: 35%;
                h1{
                    font-size: calc(15px + 15 * (100vw / 1920));
                    width: 60%;
                }

                p{
                    font-size: calc(8px + 12 * (100vw / 1920));
                    width: 65%;
                }
            }


        }


    }
}

@media only screen and (max-width:1440px) {
    .services{

        .componentTitle{
            p{
                font-size: calc(10px + (25 + 25 * 0.7) * ((100vw - 430px) / 1920));
            }
    
            div{
                h1{
                    font-size: calc(30px + (25 + 25 * 0.7) * ((100vw - 430px) / 1920));
                }        
            }
        }
        .servicesContainer{
            margin-top: 0;
            .serviceList{
                .serviceItem{
                    h1{
                        font-size: calc(15px + (10 + 10 * .7) * ((100vw - 430px) / 1920));
                        
                    }

                    p{
                        font-size: calc(8px + (7 + 7 * .7) * ((100vw - 430px) / 1920));
                    }
                }

                #activeServiceItem{
                    h1{
                        font-size: calc(15px + (15 + 15 * .7) * ((100vw - 430px) / 1920));
                    }
    
                    p{
                        font-size: calc(8px + (12 + 12 * .7) * ((100vw - 430px) / 1920));
                    }
                }
            }
        }
    }
}