.portfolio{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    .componentTitle{
        img{
            width: 3%;
        }
        p{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            color: #1E1E1E;
            font-size: calc(10px + 25 * (100vw / 1920));
        }

        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            h1{
                color: white;
                font-size: calc(30px + 25 * (100vw / 1920));
            }
            img{
                position: relative;
                top: 0;
                bottom: 0;
                width: 1.4%;

            }            
        }
    }

    .portfolioContainer{
        width: 100%;
        height: 100%;
        margin-top: 15%;
        .sliderBg{
            width: 100%;
            max-height: 75vh;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url(../../assets/img/portofolio_example_bg.png);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            img{
                position: relative;
                width: 85%;
                height: 100%;
                z-index: 999;
            }
        }


        .sliderArrows{
            margin-top: 15%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            img{
                width: 3%;
            }
        }
    }
}


@media only screen and (max-width:1440px) {
    .portfolio{

        .componentTitle{
            p{
                font-size: calc(10px + (25 + 25 *.7) * ((100vw - 430px) / 1920));
            }
    
            div{
                h1{
                    font-size: calc(30px + (25 + 25 *.7) * ((100vw - 430px) / 1920));
                }        
            }
        }
        .portfolioContainer{
            .sliderBg{
                max-height: 100vh;

                img{
                    width: 84%;
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .portfolio{

        .portfolioContainer{
            .sliderBg{
                width: 77%;
                max-height: 75vh;
                border-radius: 20px;
                img{
                    width: 84%;
                }
            }
        }
    }
}

