.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center; 
  background-color: #222326;
}

.Container{
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  max-height: 1280px;
  padding: 3%;
  box-sizing: border-box;
}


.footerComp{

}