.portfolio{
    width: 100%;
    margin-top: 5%;
    .componentTitle{
        img{
            width: 3%;
        }
        p{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            color: #1E1E1E;
            font-size: calc(10px + 25 * (100vw / 1920));
        }

        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            h1{
                color: white;
                font-size: calc(30px + 25 * (100vw / 1920));
            }
            img{
                position: relative;
                top: 0;
                bottom: 0;
                width: 1.4%;

            }            
        }
    }

    .portfolioContainer{
        width: 100%;
        height: 100%;
        margin-top: 15%;
        .sliderBg{
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url(../../assets/img/portofolio_example_bg.png);
            padding: 5%;
            box-sizing: border-box;
        }


        .sliderArrows{
            margin-top: 15%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            img{
                width: 113%;
            }
        }
    }
}


.slider{
    width: 100%;
    height: 100%;

    .slider_container{
        max-width: 1600px;
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;
        .mySlides{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center ;
            flex-direction: column-reverse;
            img{
                width: 80%;
            }

            .slide_num{
                padding: 8px 12px;
                box-sizing: border-box;
                color: white;
                font-size: 20px;
            }
        }

        .prev, .next{
            cursor: pointer;
            transition: all 131s ease;
            img{
                
                width: 100%;
                margin: 10%;
            }
        }

        .fade{
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1s;
            animation-name: fade;
            animation-duration: 1s;
            transition: all 1s ease;
        }

        @keyframes fade {
            from{opacity: .4;}
            to{opacity: 1;}
        }

        @-webkit-keyframes fade {
            from{opacity: .4;}
            to{opacity: 1;}
        }

        .ative_slide{
            display:block;
        }

        .non_active_slide{
            display: none;
        }







    
    }

    .dot{
        cursor: pointer;
        content: " ";
        width: 13px;
        height: 13px;
        margin: 0 1%;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color .6s ease;
    }

    .active, .dot:hover{
        background-color: #717171;
    }
}

@media only screen and (max-width:1440px) {
    .portfolio{

        .componentTitle{
            p{
                font-size: calc(10px + (25 + 25 *.7) * ((100vw - 430px) / 1920));
            }
    
            div{
                h1{
                    font-size: calc(30px + (25 + 25 *.7) * ((100vw - 430px) / 1920));
                }        
            }
        }
        .portfolioContainer{
            .sliderBg{
                max-height: 100vh;

                img{
                    width: 84%;
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .portfolio{

        .portfolioContainer{
            .sliderBg{
                width: 77%;
                max-height: 75vh;
                border-radius: 20px;
                img{
                    width: 84%;
                }
            }
        }
    }
}

