.team{
    width: 100%;
    height: 100%;
    margin-top: 35%;
    .componentTitle{
        img{
            width: 3%;
        }
        p{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            color: #1E1E1E;
            font-size: calc(10px + 25 * (100vw / 1920));
        }

        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            h1{
                color: white;
                font-size: calc(30px + 25 * (100vw / 1920));
            }
            img{
                position: relative;
                top: 0;
                bottom: 0;
                width: 1.4%;

            }            
        }
    }

    .teamContainer{
        width: 100%;
        height: 100%;
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .leftContent{
            width: 45%;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(../../assets/img/team_text_bg.png);
            position: absolute;
            left: 0;
            padding: 5%;
            box-sizing: border-box;
            p{
                color: white;
                width: 100%;
                text-align: start;
                font-size: calc(9px + 24 * (100vw / 1920));
                letter-spacing: 6px;
            }

            img{
                width: 100%;
                position: relative;
                right: 15%;
            }
        }

        .teamMembersContainer{
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: space-around;
            gap: 5%;
            .memberCard{
                width: 40%;
                margin-bottom: 2%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(../../assets/img/team_card_bg.png);

                img{
                    width: 65%;
                    position: relative;
                    bottom: 5%;
                }

                h1{
                    font-size: calc(8px + 13 * (100vw / 1920));
                    color: white;
                    font-weight: 600;
                }

                p{
                    font-size: calc(6px + 9 * (100vw / 1920));
                    color: #0066FF;
                }
            }
        }
    }

}

@media only screen and (max-width: 1440px){
    .team{
        .componentTitle{
            p{
                font-size: calc(10px + (25 + 25 * .7) * ((100vw - 430px) / 1920));
            }
    
            div{

                h1{
                    font-size: calc(30px + (25 + 25 * .7) * ((100vw - 430px) / 1920));
                }    
            }
        }   

        .teamContainer{
            .leftContent{
                p{
                    font-size: calc(9px + (24 + 24 * 0.7) * ((100vw - 430px) / 1920));
                }
            }

            .teamMembersContainer{
                .memberCard{
                    width: 40%;

                    img{
                        width: 55%;
                        bottom: 5%;
                    }
                    h1{
                        font-size: calc(8px + (13 + 13 * 0.7) * ((100vw - 430px) / 1920));
                    }

                    p{
                        font-size: calc(6px + (9 + 9 * 0.7) * ((100vw - 430px) / 1920));
                    }
                }
            }
        }
    }
}
