.header{
    width: 100%;
    height: 100%;
    .mobileHeaderContainer{
        display: none;
    }
    .headerContainer{
        width: 100%;
        height: 100%;

        .headerUpperContent{
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .logo{
                width: 35%;
                height: 60%;
            }

            .graphElement{
                position: absolute;
                right: 0;
                top: 0;
                width: 55%;
            }
        }
        .headerLowerContainer{
            width: 100%;
            height: 80%;
            display: flex;
            .lowerLeftContent{
                width: 60%;
                height: 100%;
                p{
                    width: 100%;
                    text-align: start;
                    color: white;
                    font-size: calc(20px + 30 * (100vw / 1920));
                    letter-spacing: 2px;
                    span{
                        color:#898989;
                    }
                }

                .statisticsContainer{
                    width: 100%;
                    background-image: url('../../assets/img/statistics_bg.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    display: flex;  
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                        div{
                            width: 30%;
                            p{
                                text-align: start;
                                font-size: calc(10px + 10 * (100vw / 1920));
                                color: #494949;
                                span{
                                    font-size: calc(20px + 25 * (100vw / 1920));
                                    color: white;
                                }
                            }
                        }

                        
                        div:nth-of-type(3){
                            width: 33%;
                        }
                        div:first-child{
                            width: 25%;
                        }
                    // .statisticsText{
                        
                    // }
                }
            }

            .lowerRightContent{
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .bigLogo{
                    width: 100%;
                }

                .scrollDownNote{
                    right: 0;
                    rotate:270deg;
                    width: 100%;
                    height: 100%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-around ;
                    .hrLine{
                        width: 30%;
                        height: 2px;
                        background-color: white;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1440px) {
    .header{
        .headerContainer{
            .headerLowerContainer{
                .lowerLeftContent{
                    p{
                        // font-size: calc(20px + (30 + 30 * 0.7) * ((100vw - 430px) / 1920));0
                        font-size: 3vw;
                    }
                    .statisticsContainer{
                        justify-content: space-around;
                            
                            div{
                                width: 25%;
                                p{
                                    font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 430px) / 1920));
                                    span{
                                        font-size: calc(20px + (25 + 25 * 0.7) * ((100vw - 430px) / 1920));
                                    }
                                }

                            
                            }
                            div:nth-of-type(3){
                                width: 30%;
                            }
                            div:first-child{
                                width: 15%;
                            }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .header{
        .headerContainer{
            .headerLowerContainer{
                .lowerLeftContent{
                    .statisticsContainer{
                        justify-content: space-around;
                            
                            div{
                                width: 29%;                         
                            }
                            div:nth-of-type(3){
                                width: 34%;
                            }
                            div:first-child{
                                width: 15%;
                            }
                    }
                }
            }
        }
    }
}
