.form{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    .formContainer{
        width: 100%;
        height: 100%;
        background-image: url('../../assets/img/form_bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 5%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .formText{
            width: 50%;
            text-align: start;
            h1{
                font-size: calc(15px + 25* (100vw / 1920));
                letter-spacing: .1rem;
                color: white;
                font-weight: 400;
            }

            p{
                font-size: calc(8px + 22 * (100vw / 1920));
                color: #5B5B5B;
                letter-spacing: .1rem;
            }
        }

        form{
            position: relative;
            left: 15%;
            width: 60%;
            border: 1px solid white;
            border-radius: 50;
            background-color: rgba($color: #ffffff, $alpha: .14);
            backdrop-filter: blur(50px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5%;
            box-sizing: border-box;
            border-radius: 50px;
            .formLabel{
                width: 40%;
                height: 10%;
                margin: 0 auto;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-radius: 0 0 20px 20px;
                font-size: calc(14px + 16 * (100vw / 1920));
                font-weight: 600;
                letter-spacing: .2rem;
            }

            .formContent{
                width: 100%;
                height: 100%;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .formItem{
                        width: 70%;
                        height: 5%;
                        background: none;
                        border: none;
                        border-bottom: 1px white solid;
                        padding: 5%;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: flex-end;
                        align-content: center;
                        font-size: calc(15px + 10 * (100vw / 1920));
                    }

                    #textareaItem{
                        resize: none;
                    }

                    ::-webkit-input-placeholder{
                        color: rgb(127, 127, 127);   
                        font-size: calc(15px + 10 * (100vw / 1920)); 
                        position: absolute;
                        left: 0;   
                    }

                    
                }

                .submitContainer{
                    width: 60%;
                    margin: 0 auto;
                    padding: 5%;
                    box-sizing: border-box;
                    display: flex;
                    .submitBtn{
                        width: 100%;
                        padding: 5%;
                        border-radius: 20px;
                        border: none;
                        color: white ;
                        width: 100%;
                        background-color: #161B7D;
                        font-size: calc(11px + 14 * (100vw / 1920));
                    }

                    img{
                        align-self: flex-end;
                        position: relative;
                    }
                }
            }
        }
    }
}

input{
    color: rgb(255, 255, 255);

}

input::placeholder{
    padding-left: 10%;
}


input:focus{
    outline: none;
}


// 1440px
@media screen and (max-width:1540px){
    .form{
        margin-top: 15%;
        .formContainer{
            .formText{
                width: 50%;
                h1{
                    font-size: calc(15px + (25 + 25 * 0.7)* ((100vw - 430px) / 1920));
                }
            }

            form{
                position: relative  ;
                bottom: 20%;
                left: 7%;
            }
        }
    }
}



