.form{
    width: 100%;
    height: 100vh;
    font-family: 'Golos Text', sans-serif;
    .mobileFormContainer{
        display: none;
    }
    .formContainer{
        width: 100%;
        height: 100%;
        text-align: start;

        .formBg{
            background-image: url(../../assets/img/form_bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 85%;
            height: 80%;
            margin: 5% auto 0 auto;
            border-radius: 50px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5%;
            .bgText{
            
                h1{
                    color: white;
                    font-size: 40px;
                    font-weight: 500;
                }
                p{
                    font-size: 30px;
                    color: #5B5B5B;
                }
           }

            form{
                position: absolute;
                right: 5%;
                top: 100%;
                width: 860px;
                height: 830px;
                background-color: rgba($color: #ffff, $alpha: .2);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 50px;


                .formLabel{
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    width: 340px;
                    height: 60px;
                    background-color: #D9D9D9;
                    border-radius: 0 0 20px 20px;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 1%;
                }
                
                .formContnent{
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    div{
                        width: 100%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5%;
                        input{
                            padding: 2%;
                            box-sizing: border-box;
                            font-size: 30px;
                            width: 600px;
                            color: white;
                            background: none;
                            border: none;
                            border-bottom: 1px solid white;
                        }
        
                        textarea{
                            padding: 2%;
                            box-sizing: border-box;
                            font-size: 30px;
                            width: 600px;
                            height: 250px;
                            color: white;
                            background: none;
                            border: none;
                            border-bottom: 1px solid white;
                            resize: none;
                            font-size: 24px;
                        }
                    }
    
                    .submitBtn{
                        color: white;
                        margin-top: 15%;
                        width: 320px;
                        height: 60px;
                        border-radius: 20px;
                        background-color: #161B7D;
                        border: none;
                        font-size: 24px;
                        transition: all .1s ease-in-out;
                        cursor: pointer;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        font-weight: 700;
                    }
    
                    .submitBtn:hover{
                        background-color: white;
                        color: #161B7D;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1440px){
    .form{
        margin-top: 10%;
        width: 80%;
        height: 90vh;

        .formContainer{
            height: 100%;
            .formBg{
                height: 90%;
                .bgText{
                    h1{
                        font-size: 32px;
                        
                    }

                    p{
                        font-size: 22px;
                    }
                }

                form{
                    width: 620px;
                    height: 590px;
                    right: 10%;
                    top: 100%;

                    .formLabel{
                        font-size: 25px;
                        width: 300px;
                        height: 50px;

                        
                    }

                    .formContnent{
                        div{
                            
                            input{
                                width: 500px;
                                font-size: 22px;
                            }

                            textarea{
                                width: 500px;
                                height: 150px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }


        }
    }
}


@media screen and (max-width:480px) {
    .form{
        width: 100%;
        margin-top: 80%; 
        .formContainer{
            display: none;
        }

        .mobileFormContainer{
            width: 100%;
            height: 50%;
            display: block;

            .mobileFormBg{
                width: 90%;
                height: 170px;
                margin: 0 auto;
                background-image: url('../../assets/mobile_img/img/mobile_form_bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                padding: 2%;
                box-sizing: border-box;

                .mobileFormBgText{    
                    
                    h3{
                        font-size: 15px;
                        color: white;
                        letter-spacing: 2px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 8px;
                        letter-spacing: 1px;
                        color: #747474;
                    }
                }


            }
            form{
                margin: 0 auto;
                width:95%;
                height:450px;
                border-radius: 20px;
                border: .5px solid white;
                background-color: rgba($color: #ffff, $alpha: .49);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                input{
                    background: transparent;
                    width: 300px;
                    height: 30px;
                    border: none;
                    border-bottom: 1px solid white;
                    padding: 5% 0 5%     0;
                    box-sizing: border-box;
                    color: white;
                    font-size: 15px;
                    font-weight: 500;
                    
                }

                ::-webkit-input-placeholder{
                    color: white;
                    font-size: 15px;
                    font-weight: 500;
                }

                textarea{
                    background: transparent;
                    width: 300px;
                    height: 70px;
                    border: none;
                    border-bottom: 1px solid white;
                    padding: 3% 0 0 0;
                    box-sizing: border-box;
                    color: white;
                }

                .mobileSubmitBtn{
                    width: 135px;
                    height: 30px;
                    background-color: #161B7D;
                    border: none;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 7px;
                    padding: 0;
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: 2px;
                }
            }
        }

    }
}